
@{
//ViewBag.Title = "Videos";
//ViewBag.Description = "This page is designed to organize vlogs...";


}

<h1>@ViewBag.Title</h1>
<h2>@ViewBag.Description</h2>

<div class="row">
    <div class="col-md-4">
        @ViewBag.Message
    </div>
    <div class="col-md-4">
        @ViewBag.Message
    </div>
    <div class="col-md-4">
        @ViewBag.Message
    </div>
</div>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>@Html.ActionLink("Video 1", "Video1", "Home")</td>
            <td>
                <a href="https://google.com">Go to Google!</a>
            </td>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Description</td>
            <td>@ViewBag.Message</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Video 1", "Video1", "Home")</td>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Description</td>
            <td>@ViewBag.Message</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Video 1", "Video1", "Home")</td>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Description</td>
            <td>@ViewBag.Message</td>
        </tr>
        <tr>
            <td>@Html.ActionLink("Video 1", "Video1", "Home")</td>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Description</td>
            <td>@ViewBag.Message</td>
        </tr>
        <tr>
            <td>@ViewBag.Title</td>
            <td>@ViewBag.Description</td>
            <td>@ViewBag.Message</td>
        </tr>
    </tbody>
</table>

<hr />


<h3>Everyone makes mistakes</h3>

<div class="visible-lg">
    <iframe width="853" height="480" src="https://www.youtube.com/embed/RtSPhginkNQ" frameborder="0" allowfullscreen></iframe>
</div>
<div class="visible-md">
    <iframe width="640" height="360" src="https://www.youtube.com/embed/RtSPhginkNQ" frameborder="0" allowfullscreen></iframe>
</div>

<div class="visible-sm">
    <iframe width="350" height="197" src="https://www.youtube.com/embed/RtSPhginkNQ" frameborder="0" allowfullscreen></iframe>
</div>

<div class="visible-xs">
    <iframe width="200" height="113" src="https://www.youtube.com/embed/RtSPhginkNQ" frameborder="0" allowfullscreen></iframe>
</div>



